//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 67px;
}

.header-logo {
    height: 64px;
    width: 64px;
    border-radius: 4px;
    margin-right: 10px;
}
